@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210, 22%, 85%;
    --background-inverted: 224 71.4% 4.1%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --background-inverted: 210, 22%, 85%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

body {
  overflow: hidden;
  height: 100dvh;
  width: screen;
  max-height: 100dvh;
  @apply scroll-smooth;
}

::selection {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
}

@media (min-width: 768px) {
  @keyframes rotating-text {
    0%,
    100% {
      bottom: 96px;
    }
    25% {
      bottom: 96px;
    }
    30% {
      bottom: 66px;
    }
    45% {
      bottom: 66px;
    }
    50% {
      bottom: 32px;
    }
    65% {
      bottom: 32px;
    }
    70% {
      bottom: 0;
    }
    95% {
      bottom: 0;
    }
  }
}
@media (min-width: 768px) {
  .md\:animate-rotate-text {
    animation: rotating-text 15s ease infinite;
  }
}

.text_gradients {
  background: -webkit-linear-gradient(#6366f1, #a855f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta span {
  padding-bottom: 2px;
  letter-spacing: 2px;
  padding-right: 15px;
}

.cta figure {
  font-size: 24px;
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover figure {
  transform: translateX(0);
}

.cta:active figure {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: hsl(var(--background-inverted));
  padding-bottom: 10px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: hsl(var(--background-inverted));
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
