@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210, 22%, 85%;
    --background-inverted: 224 71.4% 4.1%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --background-inverted: 210, 22%, 85%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  height: calc(100dvh - 4rem);
  max-height: 100dvh;
  @apply scroll-smooth;
}

::selection {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
}

.bg_ellipses {
  background-color: var(--background);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  overflow: hidden;
  z-index: 1;
  // background-image: url("/image/backgrounds/bg-ellipses.svg");
  @media (max-width: 500px) {
    background-color: var(--background);
    background-position: center 4%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    overflow: hidden;
    z-index: 1;
    // background-image: url("/image/backgrounds/bg-ellipses.svg");
  }
}

@media (min-width: 768px) {
  @keyframes rotating-text {
    0%,
    100% {
      bottom: 96px;
    }
    25% {
      bottom: 96px;
    }
    30% {
      bottom: 66px;
    }
    45% {
      bottom: 66px;
    }
    50% {
      bottom: 32px;
    }
    65% {
      bottom: 32px;
    }
    70% {
      bottom: 0;
    }
    95% {
      bottom: 0;
    }
  }
}
@media (min-width: 768px) {
  .md\:animate-rotate-text {
    animation: rotating-text 15s ease infinite;
  }
}

.text_gradients {
  background: -webkit-linear-gradient(#6366f1, #a855f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
