@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #d0d9e1;
    --foreground: #121212;
    --card: #ffffff;
    --card-foreground: #121212;
    --popover: #ffffff00;
    --popover-foreground: #121212;
    --primary: #d0d9e1;
    --primary-foreground: #121212;
    --secondary: #f3f4f6;
    --secondary-foreground: #111827;
    --muted: #f3f4f6;
    --muted-foreground: #6b7280;
    --accent: #f3f4f6;
    --accent-foreground: #111827;
    --destructive: #ef4444;
    --destructive-foreground: #f9fafb;
    --border: #e5e7eb;
    --input: #e5e7eb;
    --ring: #6d28d9;
    --radius: 0.5rem;
  }

  .dark {
    --background: #121212;
    --foreground: #fafafa;
    --card: #121212;
    --card-foreground: #f9fafb;
    --popover: #ffffff00;
    --popover-foreground: #f9fafb;
    --primary: #121212;
    --primary-foreground: #d0d9e1;
    --secondary: #121212;
    --secondary-foreground: #f9fafb;
    --muted: #121212;
    --muted-foreground: #9ca3af;
    --accent: #121212;
    --accent-foreground: #f9fafb;
    --destructive: #7f1d1d;
    --destructive-foreground: #f9fafb;
    --border: #121212;
    --input: #121212;
    --ring: #6d28d9;
  }
}

body {
  overflow: hidden;
  height: 100dvh;
  width: screen;
  max-height: 100dvh;
  @apply scroll-smooth;
}

::selection {
  background-color: var(--ring);
  color: var(--primary-foreground);
}

@media (min-width: 768px) {
  @keyframes rotating-text {
    0%,
    100% {
      bottom: 96px;
    }
    25% {
      bottom: 96px;
    }
    30% {
      bottom: 66px;
    }
    45% {
      bottom: 66px;
    }
    50% {
      bottom: 32px;
    }
    65% {
      bottom: 32px;
    }
    70% {
      bottom: 0;
    }
    95% {
      bottom: 0;
    }
  }
}
@media (min-width: 768px) {
  .md\:animate-rotate-text {
    animation: rotating-text 15s ease infinite;
  }
}

.text_gradients {
  background: -webkit-linear-gradient(#6366f1, #a855f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta span {
  padding-bottom: 2px;
  letter-spacing: 2px;
  padding-right: 15px;
}

.cta figure {
  font-size: 24px;
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover figure {
  transform: translateX(0);
}

.cta:active figure {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: var(--foreground);
  padding-bottom: 10px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: var(--foreground);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
